<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome Home!</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/Home.css" rel="stylesheet" />
</head>

<body class="background">
    <!-- The top quarter of the display containing the home button. -->
    <nav class="navbar navbar-fixed-top navbar-custom">
        <a class="logout-text"href="/">Logout</a>
    </nav>

    <!-- Bottom portion of the screen containing the background and the
    aspect options. -->
    <div class="container">
        {{#each AspectRows}}
        <div class="row">
            {{#each AspectColumns}}
            <div class="col-xs-6">
                <div class="image-overlay">
                    <a href="{{AspectLink}}">
                        <img class="img-responsive img-circle center-block
							{{ImageClass}}" src="{{Image}}" />
                        <img class="img-responsive img-text center-block {{ImageClass}}"
                             src="{{ImageText}}" />
                        <img class="img-responsive aspect-circle center-block
							{{HolderClass}}" src="{{ImageHolder}}" />
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/HomeListener.js"></script>
</body>

</html>