<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Relationship Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Include any needed CSS files below. -->
    <link href="/css/RelationshipProfile.css" rel="stylesheet" />
</head>

<body>
    <!-- Top bar displaying the profile's picture and name, and the return home button. -->
    <nav class="home-bar navbar navbar-custom navbar-fixed-top">
        <a href="{{HomeLink}}">
            <img class="home navbar-right" src="{{HomeButton}}" />
        </a>
    </nav>

    <!-- Profile sidebar. -->
    <nav id="sidebar-container">
        <ul class="sidebar-nav">
            <!-- Toggle button for the sidebar. -->
            <a id="menu-toggle" href="#" class="btn btn-dark pull-right menu-inactive">
                <i class="toggle-right fa fa-bars"></i>
            </a>
            <li class="sidebar-brand">
                <a href="#">Menu</a>
            </li>
            <li>
                <a id="info" class="disabled" href="#">{{ProfileUsername}}'s Info</a>
            </li>
            <li>
                <a id="likes" class="disabled" href="#">{{ProfileUsername}}'s Likes</a>
            </li>
            <li>
                <a id="dislikes" class="disabled" href="#">{{ProfileUsername}}'s Dislikes</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 main">
                <h3 id="profile-title" class="page-header name-text">{{ProfileUsername}}'s {{Detail.CategoryDesc}}</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Information</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody id="profile-body">
                            {{#each Detail.TableBodyRows}}
                            <tr class="edit-text">
                                <td class="subcategory">{{Subcategory}}</td>
                                <td class="subcategory-data">{{SubcategoryInfo}}</td>
                                <td class="delete-active"><a></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <a id="edit-button">Edit Information</a>
        </div>
        <div class="row">
            <a id="save-button">Save Information</a>
        </div>
    </div>

    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/RelationshipProfileListener.js"></script>
</body>

</html>